/* Normalize default browser styles */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*Set a root font size as a percentage so the user can change it*/
  font-size: 62.5%; }

body {
  /* inherited properties */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  /*force inheritance in universal selector*/
  box-sizing: border-box;
  /* element only properties */
  padding: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 1s;
  letter-spacing: 2px; }
  .heading-secondary:hover {
    transform: scale(1.01) translateY(-0.2rem);
    text-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.05); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  /*These rules must exist or the element will not appear*/
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s; }

.btn--white {
  background-color: white;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left;
    padding: 0.5rem; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc(1 * ((100% - (2 - 1) * 4rem)/2) + (1 - 1) * 4rem); }
  .row .col-1-of-3 {
    width: calc(1 * ((100% - (3 - 1) * 4rem)/3) + (1 - 1) * 4rem); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (3 - 1) * 4rem)/3) + (2 - 1) * 4rem); }
  .row .col-1-of-4 {
    width: calc(1 * ((100% - (4 - 1) * 4rem)/4) + (1 - 1) * 4rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (4 - 1) * 4rem)/4) + (2 - 1) * 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (4 - 1) * 4rem)/4) + (3 - 1) * 4rem); }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__btn {
    margin-left: 20.1rem;
    /*  rule goes: animation duration timing-function delay */
    animation: moveInBottom .5s ease-out .2s;
    /* this property applies the initial animation style to the element before the animation occurs */
    animation-fill-mode: backwards; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /* text indent offsets the largest letter spacing to center the text in the header text box */
  text-indent: 3.5rem;
  /*This is a hack that prevents animation shaking*/
  /*backface-visibility: hidden;*/ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
