.btn {
    &, &:link, &:visited {
        font-size: $def-font-size;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 5rem;
        transition: all .2s;
        position: relative;
        
        // for <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 1rem rgba($black, 0.2);
        
        &::after {
            @include global_reset;
            transform: scale(1.05);
        }
    }
    
    &:active {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($black, 0.2);
    }
    
    &:focus {
        outline: none;
    }
    
    &::after {
        @include global_reset;
        /*These rules must exist or the element will not appear*/
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        
        border-radius: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s;
    }
    
    &--white {
        background-color: $white;
        color: #777;
        
        &::after {
            @include global_reset;
            background-color: $white;
        }
    }
    
    &--green {
        background-color: $medium-green;
        color: $white;
        
        &::after {
            @include global_reset;
            background-color: $medium-green;
        }
    }
}

.btn-text {
    &:link, &:visited {
        color: $medium-green;
        font-size: $def-font-size;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $medium-green;
        padding: 3px 5px;
        transition: all .2s;
    }
    
    &:hover {
        transform: translateY(-2px);
        background-color: $light-green;
        color: $white;
        box-shadow: .2rem .5rem .5rem rgba($black, 0.15);
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: .1rem .3rem .3rem rgba($black, 0.15);
    }
}