.composition {
  position: relative;
  &__photo {
    width: 55%; // Try to always define photo widths in percentages for responsive design
    box-shadow: 0 1.5rem 4rem rgba($black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    transition: all .3s;
    outline-offset: 1.5rem;
    
    &--1 {
      left: 0;
      top: -2rem;
    }
    
    &--2 {
      right: 0;
      top: 2rem;
    }
    
    &--3 {
      left: 20%;
      top: 10rem;
    }
    
    &:hover {
      outline: .7rem solid $medium-green;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2rem 4rem rgba($black, .6);
      z-index: 3;
    }
  }
  
  &:hover &__photo:not(:hover) {
    transform: scale(.9);
  }
}