.form {
  &__group {
    
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($white, 0.5);
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;
    
    @include respond(phone) {
      width: 100%;
    }
    
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($black, .1);
      border-bottom: 3px solid $medium-green;
      
      &:invalid {
        border-bottom: 3px solid $orange-yellow;
      }
    }
    
    &:invalid {
      box-shadow: none;
    }
    
    &::-webkit-input-placeholder, &::-moz-placeholder {
      color: $dark-grey-2;
    }
  }
  
  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .3rem;
    display: block;
    transition: all .4s;
  }
  
  &__input:placeholder-shown + &__label {
    transform: translateY(-4rem);
    opacity: 0;
    visibility: hidden;
  }
  
  &__radio {
    &-group {
      width: 49%;
      display: inline-block;
      margin-bottom: 2rem;
      
      @include respond(phone) {
        width: 100%;
      }
    }
    
    &-label {
      font-size: $def-font-size;
      cursor: pointer;
      position: relative;
      padding-left: 3.5rem;
      
      @include respond(tab-port) {
        color: $dark-grey-3;
      }
    }
    
    &-button {
      height: 3rem;
      width: 3rem;
      border: 5px solid $medium-green;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: -.4rem;
      left: 0;
      
      &::after {
        @include global_reset;
        
        content: "";
        display: block;
        height: 1.4rem;
        width: 1.4rem;
        background-color: $medium-green;
        border-radius: 50%;
        opacity: 0;
        transition: opacity .2s;
        
        @include center_absolute;
      }
    }
    
    &-input:checked + &-label &-button::after {
      opacity: 1;
    }
    
    &-input {
      display: none;
    }
  }
}