.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 1rem;
  
  @include respond(tab-land) {
    font-size: 3.3rem;
  }
  
  @include respond(tab-port) {
    font-size: 2.8rem;
  }
  
  @include respond(phone) {
    font-size: 2.3rem;
  }
  
  background-image: linear-gradient(to right, $light-green, $dark-green);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 1.5s;
  letter-spacing: 2px;
  
  &:hover {
    transform: scale(1.01) translateY(-.2rem); 
    text-shadow: .2rem .3rem .3rem rgba($black, 0.15);
    cursor: default;
  }
}

.heading-tertiary {
  font-size: $def-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $def-font-size;
  
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}