.footer {
  background-color: $dark-grey-3;
  padding: 5rem 0;
  font-size: 1.3rem;
  
  @include respond(tab-port) {
    padding: 4rem 0; 
  }
  
  &__logo-box {
    text-align: center;
  }
  
  &__logo {
    width: 15rem;
    height: auto;
    margin-bottom: 3rem;
    
    @include respond(phone) {
      width: 20rem;
    }
  }
  
  &__nav {
    border-top: 1px solid $light-grey-2;
    padding-top: 2rem;
    display: inline-block;
    margin: 0 1rem;
    
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }
  
  &__list {
    list-style: none;
  }
  
  &__item {
    display: inline-block;
    width: auto;
    
    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }
  
  &__link {
    &:link, &:visited {
      text-decoration: none;
      color: $light-grey-1;
      text-transform: uppercase;
      display: inline-block;
      padding: 0 5px;
      margin: 0;
      transition: color .3s;
      
      @include respond(tab-port) {
        padding: 0 3px;
      }
    }
    
    &:hover, &:active {
      color: $medium-green;
    }
  }
  
  &__copyright {
    border-top: 1px solid $light-grey-2;
    padding-top: 2rem;
    width: 75%;
    float: right;
    margin: 0 1rem;
    
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      float: none;
      margin: 0;
    }
  }
}
