.row {
  max-width: $grid-width;
  margin: 0 auto;
  
  @include respond(tab-port) {
    max-width: 55rem;
    padding: 0 3rem;
  }
  
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
    
    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }
  
  @include clearfix;
  
  [class^='col-'] {
    float: left;
    padding: 0.5rem;
    
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
      
      @include respond(tab-port) {
        margin-right: 0;
      }
    }
    
    @include respond(tab-port) {
      width: 100% !important;
      margin-bottom: $gutter-vertical-small;
    }
  }
  
  .col-1-of-2 {
    @include col-width(1, 2);
  }
  
  .col-1-of-3 {
    @include col-width(1, 3);
  }
  
  .col-2-of-3 {
    @include col-width(2, 3);
  }
  
  .col-1-of-4 {
    @include col-width(1, 4);
  }
  
  .col-2-of-4 {
    @include col-width(2, 4);
  }
  
  .col-3-of-4 {
    @include col-width(3, 4);
  }
}