// Colors
$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;

$light-yellow: #ffb900;
$orange-yellow: #ff7730;

$blue: #2998ff;
$purple: #5346fa;

$light-grey-1: #f7f7f7;
$light-grey-2: #eee;
$dark-grey: #777;
$dark-grey-2: #999;
$dark-grey-3: #333;
$white: #fff;
$black: #000;

// Font

$def-font-size: 1.6rem;

// Elements
$def-border-radius: 3px;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 1.5rem;
$gutter-horizontal: 4rem;
