.section-about {
  background-color: $light-grey-1;
  padding: 25rem 0;
  margin-top: -20vh;
  margin-bottom: -15vh;
  
  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 2rem;
  background-image: linear-gradient(
    to right bottom, 
    rgba($light-green, 0.8), 
    rgba($dark-green, 0.8)), 
  url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  
  transform: skewY(-7deg);
  & > *{
    transform: skewY(7deg);
  }
  
  @include respond(tab-port) {
    padding: 8rem 0;
  }
}

.section-tours {
  background-color: $light-grey-1;
  padding: 27rem 0 15rem;
  margin-top: -11.5rem;
  
  @include respond(tab-port) {
    padding: 22rem 0 10rem;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;
  
  // had to use this for a second to see the live preview correctly in c9 ide for some reason
  // :not(:first-child) {
  //   position: absolute;
  // }
  
  @include respond(tab-port) {
    padding: 10rem 0;
  }
  
  @include respond(phone) {
    padding: 6rem 0;
  }
}

.section-booking {
  padding: 15rem;
  background-image: linear-gradient(to right bottom, $light-green, $dark-green);
  
  @include respond(tab-land) {
    padding: 10rem;
  }
  
  @include respond(phone) {
    padding: 5rem 1rem;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba($white, .85) 0%, rgba($white, 0.85) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: $def-border-radius;
  box-shadow: 0 1.5rem 4rem rgba($black, .25);
  
  @include respond(tab-land) {
    background-image: linear-gradient(105deg, rgba($white, .85) 0%, rgba($white, 0.85) 60%, transparent 50%), url(../img/nat-10.jpg);
  }
  
  @include respond(tab-port) {
    background-image: linear-gradient(to right, rgba($white, .95) 0%, rgba($white, 0.6) 75%, transparent), url(../img/nat-10.jpg);
  }
  
  &__form {
    width: 50%;
    padding: 6rem;
    
    @include respond(tab-land) {
      padding: 4.5rem;
      width: 60%;
    }
    
    @include respond(tab-port) {
      width: 90%;
    }
    
    @include respond(phone) {
      width: 100%;
    }
  }
}